@font-face {
	font-family: "Montserrat";
	src: url('Montserrat-Regular.ttf');
}
html,body {
	margin: 0;
	padding: 0;
}

body {
	background: #10151b;
	font-family: "Montserrat", sans-serif;
	padding: 0 2rem;
}

* {
	box-sizing: border-box;
}

.heading {
	color: #f1f1f1;
	top: 50%;
	transform: rotate(270deg) translateX(-50%);
	position: fixed;
	z-index: 1;
	font-weight: bold;
	text-shadow: 0 1px 2px #f1f1f1;
	text-transform: uppercase;
	transform-origin: 0 0;
	font-size: 28px;
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-color: white;
	text-decoration-style: wavy;
	line-height: 48px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	overflow: hidden;
	max-width: 1300px;
	margin: auto;
}
.galleryStrip {
	min-height: 100vh;
}
.galleryStripWrapper {
	flex: 0 0 100%;
	justify-content: flex-end;
	background: #10151b;
	border-right: 2px solid #333;
	position: relative;
}

@media (min-width: 500px) {
	.galleryStripWrapper {
		flex: 0 0 50%;
	}
}
@media (min-width: 950px) {
	.gallery {
		height: 100vh;
	}
	.galleryStrip.one {
		animation: 60s move-it ease alternate infinite 0s;
		transform: translateY(2%);
	}
	.galleryStrip.three {
		animation: 70s move-it ease alternate infinite 1s;
		transform: translateY(2%);
	}
	.galleryStrip.two {
		animation: 58s move-it-2 ease alternate infinite 0s;
		transform: translateY(-50%);
	}
	.galleryStrip.four {
		animation: 65s move-it-2 ease alternate infinite 0.5s;
		transform: translateY(-50%);
	}
	.galleryStrip:hover {
		animation-play-state: paused;
	}
	.galleryStripWrapper {
		flex: 0 0 25%;
	}
}
.photo {
	position: relative;
	text-align: right;
	padding-bottom: 3rem;
	cursor: pointer;
}
.photoImage img {
	width: 90%;
	transform: translateX(30%);
	transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
.photoName {
	/*text-transform: uppercase;*/
	font-size: 30px;
	letter-spacing: 2px;
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	margin-top: -22.5px;
	transition: 0.2s ease-in-out;
	position: relative;
	width: 100%;
	filter: drop-shadow(1px -1px black);
}
.photo:hover .photoImage img {
	transform: translateX(0%);
}
.photo:hover .photoName {
	color: #f1f1f1;
}

@keyframes move-it {
	0%,
 90%,
 100% {
		transform: translateY(2%);
	}
	45% {
		transform: translateY(-50%);
	}
}
@keyframes move-it-2 {
	0%,
 90%,
 100% {
		transform: translateY(-50%);
	}
	45% {
		transform: translateY(5%);
	}
}
